.container {
  width: 100vw;
  margin: auto;
  height: 100vh;
  position: relative;
}

.form {
  width: 350px;
}

.title {
  margin-bottom: 16px;
}

.themeToggle {
  position: absolute;
  top: 20px;
  right: 20px;
}
