.flag {
  width: 18px;
  height: 12px;
  border-radius: 2px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--mantine-color-gray-3);
}

.flagEn {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%3E%3Crect%20width%3D%2224%22%20height%3D%2216%22%20fill%3D%22%23B22234%22/%3E%3Crect%20y%3D%222%22%20width%3D%2224%22%20height%3D%222%22%20fill%3D%22%23FFFFFF%22/%3E%3Crect%20y%3D%226%22%20width%3D%2224%22%20height%3D%222%22%20fill%3D%22%23FFFFFF%22/%3E%3Crect%20y%3D%2210%22%20width%3D%2224%22%20height%3D%222%22%20fill%3D%22%23FFFFFF%22/%3E%3Crect%20y%3D%2214%22%20width%3D%2224%22%20height%3D%222%22%20fill%3D%22%23FFFFFF%22/%3E%3Crect%20width%3D%2210%22%20height%3D%228%22%20fill%3D%22%233C3B6E%22/%3E%3Ccircle%20cx%3D%222%22%20cy%3D%222%22%20r%3D%220.6%22%20fill%3D%22%23FFFFFF%22/%3E%3Ccircle%20cx%3D%224%22%20cy%3D%223.5%22%20r%3D%220.6%22%20fill%3D%22%23FFFFFF%22/%3E%3Ccircle%20cx%3D%226%22%20cy%3D%222%22%20r%3D%220.6%22%20fill%3D%22%23FFFFFF%22/%3E%3Ccircle%20cx%3D%228%22%20cy%3D%223.5%22%20r%3D%220.6%22%20fill%3D%22%23FFFFFF%22/%3E%3Ccircle%20cx%3D%222%22%20cy%3D%225.5%22%20r%3D%220.6%22%20fill%3D%22%23FFFFFF%22/%3E%3Ccircle%20cx%3D%224%22%20cy%3D%227%22%20r%3D%220.6%22%20fill%3D%22%23FFFFFF%22/%3E%3Ccircle%20cx%3D%226%22%20cy%3D%225.5%22%20r%3D%220.6%22%20fill%3D%22%23FFFFFF%22/%3E%3Ccircle%20cx%3D%228%22%20cy%3D%227%22%20r%3D%220.6%22%20fill%3D%22%23FFFFFF%22/%3E%3C/svg%3E");
}

.flagRu {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%3E%3Crect%20width%3D%2224%22%20height%3D%225.34%22%20y%3D%220%22%20fill%3D%22%23FFFFFF%22/%3E%3Crect%20width%3D%2224%22%20height%3D%225.34%22%20y%3D%225.33%22%20fill%3D%22%230039A6%22/%3E%3Crect%20width%3D%2224%22%20height%3D%225.34%22%20y%3D%2210.66%22%20fill%3D%22%23D52B1E%22/%3E%3C/svg%3E");
}

.flagKk {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d3/Flag_of_Kazakhstan.svg");
}
